.leaflet-container{
  width:100%;
  height: 100%;
}
.map{
  margin:1px 1px; 
  height: 60vh;
  padding-bottom: 15px;

}
.company{
  min-height:40vh;
  margin-bottom: 10px;
}
.des-and-video{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media (max-width :700px) {
  .des-and-video{
    flex-direction: column;
  }

}
.video{
  width:100%;
  height:100%;
  margin: 1px 1px;
  padding: 4px 4px;
  border: 3px solid  aquamarine;
  
}
.ima{
 
  width: 100%;
  height: 100%;
}
.des{
 width:100%;
 padding: 10px 20px;
 margin-top: 5px;
 font-size: 16px;
margin: 1px 1px;

}
.des h3 {
  color: orange;
}

.team{
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
}

@media (max-width:770px) {
  .team{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}


.team-iner{
 border: 3px solid  aquamarine;
}

.team-photo{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
 
  
}
.div-co{
  margin: 10px 0px;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.team-detail{
  width: 100%;
  min-height: 200px;
  padding:5px 40px 0px 40px;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;

}

.team-detail p {
  font-size: 25px;
  color: rgb(255, 123, 0);
  font-weight: bold;
}
.image{
  width: 100%;
  height: 100%;
}

.be-image{
  width: 100%;
  height: 100%;
}
